<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--1<link rel="stylesheet" href="static/theme-classic/resources/theme-classic-all.css">-->
    <link rel="stylesheet" href="static/theme-crisp/resources/theme-crisp-all.css">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/login.css">
    <script src="static/ext/ext-all.js" ></script>
    <script src="static/theme-crisp/theme-crisp.js" ></script>-
    <script src="static/ext/login.js" ></script>

</head>
<body style="color: gainsboro" >

</body>
</html>