<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GY运维任务中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/ext/ext-all.js" ></script>


    <!--<link rel="stylesheet" href="static/theme-classic/resources/theme-classic-all.css">-->
    <link rel="stylesheet" href="static/theme-crisp/resources/theme-crisp-all.css">

    <link rel="stylesheet" href="static/css/all.css">
     <!--应用程序自定义css-->
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/theme-crisp/theme-crisp.js" ></script>
    <script src="static/ext/main.js" ></script>
     <!--服务器信息-->
    <!--<script src="static/ext/taskQuery.js" ></script>-->

      <!--定时任务-->
    <script src="static/ext/jobQuery.js" ></script>

    <!--任务新增-->
    <!--<script src="static/ext/jobPut.js" ></script>-->


</head>
<body>
<div id="td" style=" "></div>
<div id="foot"></div>


</body>
</html>